<!-- begin panel -->
<panel headerClass="bg-cyan-800 text-white" title="{{language.TITLE_COMPONENT}}">
    <div >
     <form [formGroup]="passwordForm">
        <div class="form-floating mt-15px">
            <input type="password" class="form-control h-45px fs-13px"
                placeholder="{{language.CURRENT_PASSWORD}}" id="current" formControlName="current" />
            <label for="current"
                class="d-flex align-items-center fs-13px text-gray-600">{{language.CURRENT_PASSWORD}}</label>
        </div>
        <div *ngIf="passwordForm.get('current').errors && passwordForm.get('current').touched">
            <small class="invalid-feedback d-block" *ngIf="passwordForm.get('current').hasError('required')">
               </small>
        </div>
        <div class="form-floating mt-15px">
            <input type="password" class="form-control h-45px fs-13px"
                placeholder="{{language.NEW_PASSWORD}}" id="new" formControlName="new"/>
            <label for="new"
                class="d-flex align-items-center fs-13px text-gray-600">{{language.NEW_PASSWORD}}</label>
        </div>
        <div *ngIf="passwordForm.get('new').errors && passwordForm.get('new').touched">
            <small class="invalid-feedback d-block" *ngIf="passwordForm.get('new').hasError('required')">
               </small>
        </div>
        <div class="form-floating mt-15px">
            <input type="password" class="form-control h-45px fs-13px"
                placeholder="{{language.CONFIRM_PASSWORD}}" id="new" formControlName="confirm"/>
            <label for="new"
                class="d-flex align-items-center fs-13px text-gray-600">{{language.CONFIRM_PASSWORD}}</label>
        </div>
        <div *ngIf="passwordForm.get('confirm').errors && passwordForm.get('confirm').touched">
            <small class="invalid-feedback d-block" *ngIf="passwordForm.get('confirm').hasError('required')">
               </small>
        </div>
        <div class="mt-15px row">
            <button type="submit" class="btn btn-success btn-block btn-lg"  (click)="printForm()"
                [disabled]="passwordForm.invalid"> {{language.BUTTON_CHANGE_PASSWORD}}
            </button>
        </div>
     </form>
    </div>
    
</panel>